.login-title{
    margin-top: 15%;
    text-align: center;
    border-bottom: 2px solid white;
    margin-bottom: 5%;
    padding-bottom: 1.5%;
    font-family: 'Share Tech Mono', mono space;
    letter-spacing: 2px;
    font-size: 3.5em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .85);
}